:root {
    --accent: #111;
    /* change as required */
    --muted: #e4e0e1;
    --max-width: 1200px;
}

html {
    overflow-x: hidden !important;
}

body {
    font-family: "Playfair Display", Georgia, serif;
    overflow-x: hidden !important;
    background-image: url(../images/about-us.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.5);
    z-index: -1;
}

.background {
    background: #e4e0e1;
}


/* NAV */

.site-nav {
    z-index: 1050;
    backdrop-filter: blur(6px);
}

.navbar {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important;
}

.logo-1 {
    width: 15vh;
    height: 15vh;
}

.logo {
    width: 100%;
    height: 100%;
}

.brand {
    color: #ab886d;
    letter-spacing: 2.5px;
    font-size: 2.15rem;
    font-weight: 700;
}

.brand:hover {
    text-decoration: none;
    color: #ab886d !important;
    transition: ease-in-out 0.5s;
}

#navbarNav ul li a {
    color: #ab886d !important;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 700;
}

#navbarNav ul li a:hover {
    text-decoration: none;
    color: #3f2b21 !important;
    transition: ease-in-out 0.5s;
}

.navbar-toggler-icon {
    background-image: none !important;
}

.navbar-toggler {
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
}

.navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(164, 115, 115);
    margin: 5px 0;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler.collapsed span:nth-child(1) {
    transform: rotate(0) translate(0, 0);
}

.navbar-toggler.collapsed span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler.collapsed span:nth-child(3) {
    transform: rotate(0) translate(0, 0);
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}


/* HERO */

.home-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.home-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e4e0e1;
    padding: 20px;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.home-content p {
    font-size: 1.2rem;
    margin-top: 15px;
}

.angled-video-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    clip-path: polygon(70% 25%, 100% 0, 100% 80%, 93% 75%, 20% 85%, 0 70%, 0 0);
    background-color: #e4e0e1;
}

.gry {
    filter: grayscale(50%);
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: grayscale(100%);
    z-index: 1;
}

.overlay-content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #ab886d;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'YourBodyFont', sans-serif;
    color: #e4e0e1;
}


/* SECTION: About Us */

.about {
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: transparent !important;
    overflow: hidden !important;
    padding-bottom: 40px;
    padding-top: 40px;
}

#about-content {
    margin-top: 10px;
    margin-bottom: 40px;
}

#about-content h2 {
    font-size: 45px;
    color: #ab886d;
    text-transform: uppercase;
}

#about-content p {
    color: #e4e0e1;
    font-size: 18px;
    word-spacing: 3px;
}

.about img {
    width: 100%;
}

#about-img {
    margin: 10px 0px 30px 0px;
}


/* Portfolio */

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    cursor: pointer;
}

.video-thumbnail {
    position: relative;
    transition: 0.4s ease-in-out;
}

.video-thumbnail img {
    width: 100%;
    display: block;
    border-radius: 7px;
}

.video-thumbnail2 {
    position: relative;
    transition: 0.4s ease-in-out;
}

.video-thumbnail2 img {
    width: 100%;
    display: block;
    border-radius: 7px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    background: transparent;
    border-radius: 50%;
    padding: 15px 25px;
}

.portfolio h2 {
    color: #3f2b21;
    text-transform: uppercase;
}

.video1 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.video1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video2 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.video2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    margin-bottom: 20px;
}

.nav-tabs {
    border-bottom: none;
}

#tabs {
    color: #3f2b21;
    letter-spacing: 1px;
    background: transparent !important;
    border: none;
    font-size: large;
    font-weight: lighter;
}

#tabs:hover {
    border-bottom: 1px solid #ab886d;
    color: #ab886d !important;
}

.nav-tabs .nav-item .nav-link.active {
    color: #ab886d !important;
    border-bottom: 1px solid#ab886d !important;
}


/* Testimonials */

.testimonials-wrap {
    padding: 40px 0;
}

.heading-section {
    text-align: center;
}

.sub-heading {
    font-size: 25px;
    display: block;
    font-weight: 600;
    color: #3f2b21;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.testimonial-box {
    display: block;
    position: relative;
    padding: 30px 20px;
    background: #e4e0e1;
    border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 5px;
    box-shadow: 0 0 20px #8c756a;
}

.user-img {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #3f2b21;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #ab886d;
    font-size: 14px;
}

.carousel-testimonial .owl-nav {
    text-align: center;
}

.carousel-testimonial .owl-nav button.owl-next,
.carousel-testimonial .owl-nav button.owl-prev {
    padding: 0 12px !important;
}

.carousel-testimonial .owl-nav button {
    outline: none;
    padding: 0;
}

.carousel-testimonial .owl-nav button.owl-next span,
.carousel-testimonial .owl-nav button.owl-prev span {
    display: block;
    font-size: 40px;
    width: 25px;
    height: 25px;
    vertical-align: 0px;
    line-height: 16px;
}

.carousel-testimonial .owl-nav button.owl-next.disabled,
.carousel-testimonial .owl-nav button.owl-prev.disabled {
    opacity: 0.5;
}


/* Contact Us */

#contact-section {
    padding: 50px;
}

.contact-us-heading {
    color: #3f2b21;
    text-transform: uppercase;
}

.mail {
    color: #ab886d;
    text-decoration: none;
}

.mail:hover {
    color: #3f2b21;
}

.contact-detailed {
    color: #ab886d;
    font-size: 18px;
    font-weight: 50;
    opacity: 0.7;
}

.inputbar {
    margin: 4px;
    border-bottom: 1px solid black;
}

.inputbar2 {
    margin: 4px;
}

.inputbar input {
    border: none !important;
    background-color: #e4e0e1 !important;
    padding: 15px;
}

.inputbar textarea {
    border: none;
    background-color: #e4e0e1 !important;
    padding: 15px;
    background: none;
}

.inputbar2 button {
    border-radius: 100px;
    background-color: #3f2b21 !important;
    color: #e4e0e1;
    padding: 10px 0;
    font-size: 20px;
}

.inputbar2 button:hover {
    background-color: #ab886d !important;
    color: white;
    transition: 0.6s ease-in-out;
}

.inputbar input:focus,
.inputbar textarea:focus {
    outline: none !important;
}

#google-form {
    background: transparent;
}


/* FOOTER */

footer.site-footer {
    padding: 2rem 1rem;
    background: #3f2b21;
    color: #ddd;
}

footer .brand {
    color: #e4e0e1;
}

footer a {
    color: #e4e0e1;
    text-decoration: none;
    opacity: .95;
}

footer .muted {
    color: #e4e0e1;
    font-size: .95rem;
}

.social-quick-links:hover {
    color: #ab886d;
    transition: 0.6s ease-in-out;
}


/* Small helpers */

.nav-link {
    color: #292F36 !important;
    font-weight: 500;
}

.btn-outline-dark {
    border-radius: 50px;
    padding: .5rem 1.05rem;
}


/* Make images responsive and nicely cropped */

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

iframe {
    max-width: 100% !important;
}


/* Mobile Responsive */

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden !important;
    }
    .home-section {
        height: 80vh;
    }
    .home-content h1 {
        font-size: 2rem;
    }
    .home-content p {
        font-size: 1rem;
    }
    #tabs {
        font-size: small;
    }
    .angled-video-section {
        overflow: hidden;
        clip-path: polygon(70% 15%, 100% 0, 100% 65%, 90% 60%, 20% 68%, 0 65%, 0 0);
    }
    .bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: unset;
        min-height: unset;
    }
    .title {
        margin-top: -40px;
        font-size: 2rem;
    }
    .subtitle {
        font-size: 0.9rem;
        line-height: 1.3;
    }
    #about-content {
        margin-top: unset;
    }
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}